<html>
  <head>
    <title>form</title>
  </head>
  <body>
    <h2>Hallo da</h2>
    
    <form action="/login" method="post">  
      <input type="text" name="name">
      <input type="text" name="password">   
      <input type="submit" value="login">  
    </form> 
    
  </body>
</html>
